<!DOCTYPE html>
<html>
<head>
  <title>I18n debug page</title>
  <%= stylesheet_link_tag    "i18n_debug_page/application", media: "all" %>
  <%= javascript_include_tag "i18n_debug_page/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
